<h1>Profile: <%= @user.full_name %></h1>

<ul>
  <li>Admin <%= @user.admin? %></li>
  <% if current_user.id == @user.id %>
    <li><%= link_to 'Edit my profile', edit_user_path(current_user) %></li>
  <% end %>
</ul>

<div>
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</div>

<div>
  <h2>Interests</h2>
  <ul>
    <% for interest in Interest.all %>
      <% if @user.interests.include?(interest) == true %>
        <li><%=h interest.name %></li>
      <% end %>
    <% end %> 
  </ul>
</div>
   

